manifest {
  mainScript = 'shootstrap.nf'
  description = 'Reliability measure of inferred phylogenetic trees'
}

process { 
  container = 'cbcrg/shootstrap2-nf@sha256:b0c825c9dc477b087740dccc00097d41e17496663e7fec883deba62c89beb2e8' 
  scratch = true
}

profiles {
    crg { includeConfig 'loc_crg.config' }
}
